@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>The current server time is: @DateTime.Now.ToString("HH:mm:ss")</p>
</div>
